<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Graphs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            position: relative;
            display: flex;
            margin: auto;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        div {
            flex: .4;
        }
    </style>
</head>
<body>
    <div>
        <!-- Render the first graph -->
        {{ graph_html_1|safe }}
    </div>
    <div>
        <!-- Render the second graph -->
        {{ graph_html_2|safe }}
    </div>
    <div>
        <!-- Render the third graph -->
        {{ graph_html_3|safe }}
    </div>
</body>
</html>
